version: "3.8"
services:
  db:
    container_name: postgres-latest
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - /mnt/homelab/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=toor
      - POSTGRES_USER=root      
