version: "2.1"
services:
  portainer:
    image: cr.portainer.io/portainer/portainer-ce:2.9.3
    container_name: portainer
    ports:
      - "8000:8000"
      - "9443:9443"
      - "9000:9000"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
  plex:
    image: lscr.io/linuxserver/plex
    container_name: plex
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - PLEX_CLAIM=#optional
    volumes:
      - /home/homelab/media:/config
      - /home/homelab/dropbox:/data
  cuthbox:
    build:
      context: ../Dropbox
    container_name: cuth-sync
    environment:
      - DROPBOX_ACCESS_TOKEN
    volumes:
      - /home/homelab/dropbox:/opt
  swag:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - URL=davidsciacchettano.dev
      - SUBDOMAINS=www,
      - VALIDATION=http
      # - CERTPROVIDER= #optional
      # - DNSPLUGIN=cloudflare #optional
      # - DUCKDNSTOKEN=<token> #optional
      # - EMAIL=<e-mail> #optional
      # - ONLY_SUBDOMAINS=false #optional
      # - EXTRA_DOMAINS=<extradomains> #optional
      # - STAGING=false #optional
    volumes:
      - /home/homelab/swag:/config
    ports:
      - 443:443
      - 80:80 #optional
    restart: unless-stopped
  jekyll:
      image: ghcr.io/cuthbeorht/davidsciacchettano.ca
      container_name: jekyll
      environment:
        - JEKYLL_VERSION=3.8
      command: ['jekyll', 'serve']
      ports:
        - "4000:4000"
volumes:
  portainer_data:
